/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #eaeaea; /* Fondo más claro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #4CAF50;
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo del formulario */
form {
    background-color: #fff;
    padding: 30px; /* Padding aumentado para un diseño más espacioso */
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Ancho máximo */
    text-align: left;
}

/* Estilo de etiquetas */
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

/* Estilo de campos de entrada */
input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%; /* Cambiado a 100% para llenar el espacio */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus {
    border-color: #4CAF50; /* Cambia el color del borde al enfocar */
}

/* Estilo para el botón de envío */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px; /* Padding aumentado */
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049; /* Color de fondo más oscuro al pasar el mouse */
}

/* Estilo para elementos de selección múltiple */
select[multiple] {
    height: auto; /* Altura ajustable */
}

/* Estilo para radio buttons y checkboxes */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 8px; /* Espacio entre el botón y la etiqueta */
}

/* Estilo para las listas de datalist */
input[list] {
    width: 100%;
}

/* Media queries para dispositivos pequeños */
@media (max-width: 400px) {
    form {
        width: 90%;
    }
}
